# logging file
logs/
*.log
*.txt

# db and block files
*.db
*.dat
*.block

# tar files
*.tar.gz
*.zip
*.7z

# env vars
.env

# yaml config file
*_debug.yaml
*_product.yaml

# sercet files: ca, key
*.key
*.cert
*.sercet

# output and data path
.btcd/
.bittrace/
logfiles/
peers/
out/
output/
data/

# temporary and backuping path
tmp/
temp/
bak/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/

# Editor and IDE paraphernalia
.idea
*.swp
*.swo
*~
yu
.vs
.vscode
.DS_Store

# Databases
btcd.db
*-shm
*-wal

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Folders
_obj
_test
vendor

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Code coverage files
profile.tmp
profile.cov
coverage.txt
btcec/coverage.txt
btcutil/coverage.txt
btcutil/psbt/coverage.txt
