version: '3'

volumes:
  peer_btcd:

networks:
  peer_btcd_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET_CIDR:-172.16.0.0/24}

services:
  peer_btcd:
    container_name: ${CONTAINER_NAME:-peer0.btcd.testnet0}
    hostname: ${HOSTNAME:-peer0.btcd.testnet0}
    image: ${IMAGE:-bittrace/peer_btcd:latest}
    labels:
      service: peer_btcd_service
    environment: # 通过环境变量设置常量，也可以不使用这里的
      - CONTAINER_NAME:${CONTAINER_NAME:-peer0.btcd.testnet0} # logger name, container name
      - BITTRACE_ROOT_DIR:/root/.bittrace # base path
      - BITTRACE_CLIENT_DIR:peers # peer base path
      - BITTRACE_LOG_DIR:logfiles # log base path
      - BITTRACE_CONFIG_DIR:configs # config base path
    working_dir: /bittrace
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-file: "9999"
        max-size: "1g"
    command: btcd
    volumes:
      - ${HOME}/.bittrace:/root/.bittrace # 这里是绝对目录映射
      - .btcd:/root/.btcd # # 这里是相对目录映射，直接使用 .btcd
    ports:
      - ${PORT_PEER_LOCAL:-18555}:${PORT_PEER:-18555}
      - ${PORT_RPC_LOCAL:-18556}:${PORT_RPC:-18556}
    networks:
      peer_btcd_network:
        ipv4_address: ${SUBNET_ADDRESS:-172.16.0.100}
